<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>

    <h1 class="omar-class" id="main-header">Main Page</h1>

    <img id="cat-picture"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjqps9G1MHf7CVES13XNRFeqlfLhGR765RRg&s" alt="">

    <a href="https://google.com">google</a>

    <p class="omar-class">P Element</p>

    <ul style="">
        <li></li>
    </ul>

    <button onclick="sayHello('Kai')">Click for Surprise</button>
    <button onclick="sayHello('Maryam')">Click for Surprise</button>


    <script src="../index.js"></script>
    
</body>
</html>

